# python day 2

# series demonstration

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
pd.Series

pandas.core.series.Series

In [4]:
S=pd.Series(np.random.randn(5),index=["a","b","c","d","e"])

In [5]:
S

a    0.638064
b   -0.300822
c   -0.152088
d   -0.628696
e   -2.510919
dtype: float64

In [6]:
S.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [7]:
S=pd.Series(np.random.randn(3))

In [8]:
S

0   -1.170575
1   -1.389582
2    2.236703
dtype: float64

In [9]:
d={"b":1,"a":0,"c":2}

In [10]:
pd.Series(d)

b    1
a    0
c    2
dtype: int64

In [11]:
d={"b":1,"a":0,"c":2,"d":np.nan}

In [24]:
pd.Series(d)

b    1.0
a    0.0
c    2.0
d    NaN
dtype: float64

In [30]:
dict1={"a":1,"B":3,"D":5,"A":7}

In [31]:
#convert this in series
s1=pd.Series(dict1)

#print the series
s1

a    1
B    3
D    5
A    7
dtype: int64

In [34]:
#create one dictionaey
dict_2={"name":"ayush","age":20,"marks":"250"}

#convert in series
Series_2=pd.Series(dict_2)

#print the series
print(Series_2)

name     ayush
age         20
marks      250
dtype: object

In [35]:
#create the dictionary with NaN
dict_3={'name':np.nan,'age':27,'marks':280}

#convert it into series
Series_3=pd.Series(dict_3)

#print the series_3
Series_3

name       NaN
age       27.0
marks    280.0
dtype: float64

## 28/6/23

In [5]:
import numpy as np
import pandas as pd

In [10]:
d={
    "one": pd.Series([1.0,2.0,3.0],index=["a","b","c"]),
    "two": pd.Series([1.0,2.0,3.0,4.0],index=["a","b","c","d"]),
}
df = pd.DataFrame(d)
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [12]:
Series2=pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])
print(Series2)
Series3=pd.Series([10,20,56,40,50],index=['a','b','c','d','e'])
print(Series3)
Series4=pd.Series([10,20,35,40,50],index=['a','b','c','d','e'])
print(Series4)
Series5=pd.Series([10,20,36,40,50],index=['a','b','c','d','e'])
print(Series5)
Series6=pd.Series([10,20,37,40,50],index=['a','b','c','d','e'])
print(Series6)
Series7=pd.Series([10,20,38,40,50],index=['a','b','c','d','e'])
print(Series7)
Series8=pd.Series([10,20,39,40,50],index=['a','b','c','d','e'])
print(Series8)
Series9=pd.Series([10,20,33,40,50],index=['a','b','c','d','e'])
print(Series9)
Series10=pd.Series([10,20,32,40,50],index=['a','b','c','d','e'])
print(Series10)
Series11=pd.Series([10,20,31,40,50],index=['a','b','c','d','e'])
print(Series11)

a    10
b    20
c    30
d    40
e    50
dtype: int64
a    10
b    20
c    56
d    40
e    50
dtype: int64
a    10
b    20
c    35
d    40
e    50
dtype: int64
a    10
b    20
c    36
d    40
e    50
dtype: int64
a    10
b    20
c    37
d    40
e    50
dtype: int64
a    10
b    20
c    38
d    40
e    50
dtype: int64
a    10
b    20
c    39
d    40
e    50
dtype: int64
a    10
b    20
c    33
d    40
e    50
dtype: int64
a    10
b    20
c    32
d    40
e    50
dtype: int64
a    10
b    20
c    31
d    40
e    50
dtype: int64

In [16]:
#now convert those series in one datastructure (dataframe)
Dataframe_1 =pd.DataFrame({"column 2":Series2,
                           "column 3":Series3,
                           "column 4":Series4,
                           "column 5":Series5,
                           "column 6":Series6,
                           "column 7":Series7,
                           "column 8":Series8,
                           "column 9":Series9,
                           "column 10":Series10,
                           "column 11":Series11,})
Dataframe_1

,column 2,column 3,column 4,column 5,column 6,column 7,column 8,column 9,column 10,column 11
a,10,10,10,10,10,10,10,10,10,10
b,20,20,20,20,20,20,20,20,20,20
c,30,56,35,36,37,38,39,33,32,31
d,40,40,40,40,40,40,40,40,40,40
e,50,50,50,50,50,50,50,50,50,50

name = pd.series(['ram','sham','raj','dan','som','tom'])
age = pd.Series([50,54,29,37,60,78])
branch =pd.Series([,animation','bia','data','fintech','cloud','data'])

Dataframe pd.DataFrame({"name":name,
                           "age":age,
                           "branch":branch})
Dataframe

# 30/6/23

In [1]:
import numpy as np
import pandas as pd

In [5]:
List1 =np.arange(100)

List2 =np.random.randn(100)

List3 =np.random.randn(100)

List4 =np.random.randn(100)

List5 =np.random.randn(100)

In [6]:
Series1 =pd.Series(List1)

Series2 =pd.Series(List2)

Series3 =pd.Series(List3)

Series4 =pd.Series(List4)

Series5 =pd.Series(List5)

In [7]:
 Dataframe1 =pd.DataFrame({"{S_col_1":Series1,
                         "S_col_2":Series2,
                          "S_col_3":Series3,
                          "Sample_col_4":Series4,
                          "sample_col_5":Series5})

In [9]:
Dataframe1

    {S_col_1   S_col_2   S_col_3  Sample_col_4  sample_col_5
0          0 -1.180106 -0.496109     -0.719508      0.140090
1          1  1.636914  1.926116     -0.566176     -0.338914
2          2 -1.089395  0.045432      1.838676      1.076980
3          3  0.004353 -0.770067      1.005404     -0.258648
4          4  1.118123 -3.516024      0.702105      2.653015
..       ...       ...       ...           ...           ...
95        95 -0.269223 -2.186538     -0.875447      0.402963
96        96  1.813413 -1.332156     -0.374062     -0.066626
97        97  0.743596  1.164064      1.248617     -0.353447
98        98  1.822206  2.321731      0.593696      1.467908
99        99  1.359700 -0.478942      2.475361     -0.751674

[100 rows x 5 columns]